*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}
@keyframes movement {

    0% {
  transform: translateX(0);
   left:0;
    }
100% {
    transform: translateX(100%);
left:100%;
}

}
@keyframes OceanNightfall {

    0%{ 
 
        background-image: linear-gradient(180deg,#eeaf61   0%, 	#19a8ff 100%);

    }
    25% {

        background-image: linear-gradient(180deg,#be8c4d   0%, 	#19a8ff 100%);
        
    }
    50% {

        background-image: linear-gradient(180deg,#020e15 40%, #041F30 100%);


    } 
    /* remember dark on the right light on the left */
   
    75% {

        background-image: linear-gradient(180deg,#020e15 40%, #041F30 100%);

    }

    100% {

        background-image: linear-gradient(180deg,#020e15 40%, #041F30 100%);



    }




}
@keyframes BuildingNightFall {
    0%{ 
 
        background-image: linear-gradient(90deg,#8F6A64   40%, 	#eeaf61  100%);

    }
    25% {
        background-image:none;
        background-image: linear-gradient(90deg,#8F6A64   10%, 	#eeaf61  100%);
        
    }
    50% {
        background-image:none;
        background-color:#8F6A64;
        


    }
    /* remember dark on the right light on the left */
   ;
    75% {
        background-image:none;
        background-color:#8F6A64;
    }

    100% {
       
        background-image:none;
        background-color:#8F6A64;

    }





}
@keyframes  Nightfall {

    0%{ 
 
        background-image: linear-gradient(0deg,#eeaf61   0%, 	#19a8ff 100%);

    }
    25% {

        background-image: linear-gradient(0deg,#be8c4d   20%, 	#1486cc 100%);
        
    }
     50% {

        background-image: linear-gradient(180deg, #184150 0%, rgb(2, 14, 22)  100%);

    } 
    /* remember dark on the right light on the left */
   ;
    75% {

        background-image: linear-gradient(180deg, #ffffff 0%, #041c2c 100%);

    }

    100% {

        background-image: linear-gradient(0deg, #052133 20%,  #052133 100%);
      
    }

}
body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.container {
display:flex;
flex-direction:column;
min-height:100vh;


}
.TopSky {

    width:100%;
    height:300px;
   background-color:#009fff;
   background-image: linear-gradient(0deg,#eeaf61   0%, 	#19a8ff 100%);
   display:flex;
   align-items:end;
   animation: Nightfall 30s 1 forwards;
}
.Background {
    margin-left:5px;
    width:2%;
    height:40px;
    opacity:0.5;
    background-color:#8F6A64 
    /* background-image: linear-gradient(90deg,#8F6A64   40%, 	#eeaf61  100%) */
}
.Background2 {
    width:2%;
    height:20px;
    background-color:#8F6A64;
    opacity:0.5;
    /* background-image: linear-gradient(90deg,#8F6A64   40%, 	#eeaf61  100%) */
}
.Background3 {
    margin-left:5px;
    width:2%;
    height:20px;
    background-color:#8F6A64;
    opacity:0.5;
    /* background-image: linear-gradient(90deg,#8F6A64   40%, 	#eeaf61  100%) */
}
.Background4 {
    margin-left:5px;
    width:2%;
    height:70px;
    background-color:#8F6A64;
    opacity:0.5;
    background-image: linear-gradient(90deg,#8F6A64   40%, 	#eeaf61  100%);
    animation: BuildingNightFall 30s 1 forwards;
}
.Cloud {

    width:50%;
    height:20px;
    background-color:white;
    margin-top:4px;
  margin-left:10px;
  border-radius:50%;
  border:none;
  outline:2px solid white;
  opacity:0.5;
  filter:blur(7px);
 box-shadow:2px 2px black;

}
.MidSky {
    width:100%;
    height:200px;
   background-color: #000000;
   background-image: linear-gradient(0deg, #19a8ff 0%, #0963ae 74%);
   display:flex;
   flex-direction:column;  
   background-image: linear-gradient(180deg,#eeaf61   0%, 	#19a8ff 100%);
   
   animation: OceanNightfall 30s 1 forwards; 
}
.Object {
    width:10px;
    height:10;
    border-left: 90px solid #522f09;
    border-right: 90px solid #522f09;
    border-top: 10px solid transparent;
    border-bottom:20px solid #522f09;
   
    margin-top:5px;
    z-index:10;
    
    position:absolute;
    animation: movement 90s infinite forwards;
}
.Object2 {
    width:10px;
    height:30;
    border-left: 90px solid #000000;
    border-right: 90px solid #000000;
    border-top: 17px solid black;
    border-bottom:20px solid transparent;
    margin-top:30px;
    z-index:10;
    filter:blur(4px);
    opacity:0.7;
    position:absolute;
    animation: movement 90s infinite forwards;
}
.bench {
margin-top:30px;
    width:350px;
    height:80px;
    border-bottom:14px solid black;
    border-left: 20px solid #522f09;
    border-right: 20px solid #522f09;
    border-top: 14px solid #522f09;
    margin-left:5px;
    background-size:cover;
    box-shadow:0px black;
    position:absolute;    
    
}

.footstep {

    background-color:#522f09;
    width:24%;
    height:17px;
   display:block;
   margin-top:10px;
   position:absolute;
}
.footstep2 {

    background-color:#522f09;
    width:24%;
    height:17px;
   bottom:200px;
   position:absolute;
}
.footstep3 {

    background-color:#522f09;
    width:24%;
    height:17px;
   bottom:230px;
   position:absolute;
}
.RightBenchBar {

    background-color:black;
    width:5.8%;
    height:5.9px;
    right:580px;
   bottom:200px;
   rotate:90deg;
   position:absolute;
}
.LeftBenchBar {

    background-color:black;
    width:5.8%;
    height:5.9px;
    right:864.2px;
   bottom:200px;
   rotate:90deg;
   position:absolute;
}
.BelowMidSky {
    width:100%;
    height:100px;
   background-color:#19a8ff	;
  
}
.NearGroundLevel {


}
.Horizon {

}
/* #9f855d */
.Sand {
    width:100%;
    background-color:#f6d7b0;
    background-image: linear-gradient(180deg, #ae8f60 10%,#ffe589  40%, #d6c68c 90%);
    background-size:cover;
    min-height:28vh;
    display:flex;
    justify-content:center;
}

.MoreSand {



}

